.vscode
.DS_Store
composer.lock

!.gitignore
*.php
*.html
*.txt
.htaccess
wp-admin
wp-includes

!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*

!/wp-content/themes/base
!/wp-content/themes/base/**/*
/wp-content/themes/base/public

.vscode
.DS_Store
composer.lock
package-lock.json
.env
node_modules
vendor