/* Jednokrotna definicja zmiennych jako CSS custom properties */
:root {
    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1240px;
    --container-2xl: 1536px;

    --color-text: #656565;
    --color-text-emphasis: #303030;
    --color-text-light: #969696;
    --color-primary: #D5AC76;
    --color-accent: #923C39;
    --color-border: #D5D5D5;

    --font-primary: 'Roboto Condensed', sans-serif;
}