@import "tailwindcss";
@import "./base/_root.scss";
@import "./main.scss";
@source "../views/**/*.blade.php";
@source "../../app/**/*.php";

@theme {
    --color-accent: var(--color-accent);
    --color-bg-main: var(--color-bg-main);
    --color-text-main: var(--color-text-main);
    --color-text-second: var(--color-text-second);
    --color-text-third: var(--color-text-third);
    --color-border: var(--color-border);
}

@utility font-primary {
    font-family: var(--font-primary);
}

@utility font-secondary {
    font-family: var(--font-secondary);
}