@use 'base/root';
@import './base/_typography.scss';
@import './test/_animations-test.scss';

@import './components/base.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/social-media.scss';
@import './components/cf-form.scss';
@import './components/button.scss';
@import "./components/masonry-gallery.scss";
@import "./components/animations.scss";
@import "./components/single-slider.scss";