/* SCSS Variables */
:root {
    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1280px;
    --container-2xl: 1920px;

    --color-accent: #B50027;
    --color-bg-main: #101010;
    --color-text-main: #FFFFFF;
    --color-text-second: #BEBEBE;
    --color-text-third: #AFAFAF;
    --color-text-darker: #838383;

    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Protest Strike', sans-serif;
}