@use '../variables' as vars;
.button {
    @apply px-4 bg-gray-800 hover:bg-blue-700 text-white rounded !no-underline text-base h-10 flex items-center justify-center;

    &.-light {
        @apply bg-white hover:bg-gray-200 text-gray-800 border border-gray-400;
    }
    &.-inline {
        @apply inline-flex;
    }
}