@use '../variables' as vars;
.select {
    @apply px-2 pr-4 rounded border border-gray-400 bg-white text-base h-10 bg-white;
}
.input {
    @apply border w-full px-2 rounded text-base h-10 border-gray-400 bg-white;
    &.-textarea {
        @apply h-32 p-2;
    }
}