.single-slider {
    @apply relative w-full md:w-[80%] mx-auto mb-16;
}
.single-slider-main {    
    .swiper-slide {
        @apply flex items-center justify-center h-[80vh];
        img {
            @apply w-full h-full object-contain;
        }
    }
}
.single-slider-controls {
    @apply absolute top-1/2 left-0 right-0 flex justify-between items-center md:px-4 z-10 pointer-events-none translate-y-[calc(-50%-60px)];
    button {
        @apply flex pointer-events-auto cursor-pointer w-12 h-12 opacity-100 hover:opacity-80 disabled:opacity-30 disabled:cursor-default transition-opacity duration-300;
        &.single-slider-next {
            @apply justify-end;
        }
    }
}
    
.single-slider-thumbnails {
    .swiper-wrapper {
        @apply flex justify-center mt-4;
    }
    .swiper-slide {
        @apply w-auto cursor-pointer opacity-100 transition-opacity duration-300 hover:opacity-60;
        
        &.swiper-slide-thumb-active {
            &:after {
                @apply content-[''] absolute inset-0 border-4 border-accent pointer-events-none;
            }
        }
        img {
            @apply block h-20 w-auto object-contain;
        }
    }
}
