.animation-accordion-block {
    @apply relative py-16 md:py-24;

    .accordion-wrapper {
        @apply flex gap-4 min-h-[500px];
    }
    .accordion-background {
        @apply absolute inset-0 w-full h-full bg-cover bg-center;
        z-index: 1;
        &::after {
            @apply content-[''] absolute inset-0 bg-gradient-to-t from-black/80 to-black/80 z-10;
        }
    }
    .accordion-trigger {
        @apply absolute inset-0 w-full h-full z-10 cursor-pointer border-none bg-transparent;
        &:hover {
            & + .accordion-content::before {
                opacity: 0.1;
            }
        }
    }
    .accordion-content {
        @apply absolute inset-0 z-20 pointer-events-none opacity-0;
        &::before {
            @apply absolute inset-0 content-[''] opacity-0 transition-opacity duration-300 ease-in;
        }
        .is-active & {
            @apply pointer-events-auto;
            &::before {
                @apply opacity-100;
            }
        }
    }
    .accordion-content-inner {
        @apply absolute bottom-0 left-0 right-0 z-10 flex flex-col justify-end p-8 pb-12 text-white no-underline;

        &.-link {
            &:hover {
                .accordion-title {
                    @apply underline;
                }
            }
        }
    }
    .accordion-number {
        @apply text-sm font-bold mb-4 opacity-70;
    }
    .accordion-title {
        @apply text-2xl md:text-3xl font-normal mb-8 font-secondary relative;
        &::after {
            @apply content-[''] absolute left-0 -bottom-4 w-[40%] h-1 bg-accent;
        }
    }


    
    .accordion-item {
        @apply relative overflow-hidden cursor-pointer flex-1;
        flex-basis: 25%;
        transition: flex-basis 0.6s ease, flex-grow 0.6s ease;

        &.is-active {
            .accordion-background {
                &::after {
                    @apply content-[''] absolute inset-0 bg-gradient-to-t from-black/70 to-transparent z-10;
                }
            }
        }
    }
    


}