.text-image-block {
    @apply flex flex-col md:flex-row items-center gap-8 md:gap-12 lg:gap-16;

    .text-image-block__image-container {
        img {
            @apply w-full h-full object-cover;
        }
    }
}